.headrC img{
    height: 700px;
    width: 700px;
    position: relative;
    top: 0px;
    left: 206px;

}
/* .headrC{
    position: relative;
    top: 13px;
    left: 317px;
} */
/* .rowcs{
    left: 95px;
    position: relative;
    top: 5px;
} */
.Smenu{
    position: relative;
    left: 143px;
    top: 0px;
}
